* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.docs-main {
    background-color: #141414;
    color: #fff;
    position: relative;
    border-bottom: 10px solid #fcaa68;
}

.docs-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.docs-header {
    text-align: center;
    font-size: 1.5rem;
}

.docs-img-container {
    text-align: center;
}

#docs-top-img {
    width: 90%;
}



.search-bar {
    display: none;
    border: none;
    background-color: #fcaa68;
    margin: 0 auto;
    font-size: 1px;
}

.search-bar button {
    background-color: #fcaa68;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
}

.docs-search {
    width: 20rem;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .docs-main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .docs-header {
        text-align: center;
        margin-bottom: 4rem;
    }

    .docs-header h2 {
        font-size: 3rem;
    }

    .docs-img-container {
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    .docs-header h2 {
        font-size: 2rem;
    }

    .docs-img-container {
        border-style: hidden;
    }

}


/* actual documentation */

.documentation {
    margin: 0 auto;
}

.contents {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

.contents-list {
    list-style-type: none;
    text-align: center;
    padding: 3rem;
    border: 3px solid #141414;
    width: 15rem;
    margin: 0 auto;
}

.content-item {
    padding: 0.5rem;
}

.content-link {
    text-decoration: none;
    color: #141414;
    transition: all 0.3s ease;
}

.content-link:hover {
    color: #fcaa68;
    transition: all 0.3s ease;
}

.docs-button {
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    background-color: transparent;
    border-style: solid;
    border-color: #141414;
    border-radius: 100px;
    transition: all 0.3s ease;
    color: #141414;
}

.docs-button a {
    text-decoration: none;
}

.docs-button:hover {
    color: #fcaa68 !important;
    background-color: #141414;
    transition: all 0.3s ease;
}

