* {
    font-family: 'Saira', sans-serif;
}

:root {
    --dark-black: #151515;
    --black: #202020;
    --light-black: #23272a;
    --fux-orange: #fcaa68;
    --fux-red: #ec243c;
    --demo-blue: #253238;

    /* discord colors - beautiful */
    --blurple: #454fbf;
    --light-blurple: #7289da;
    --dark-blurple: #4e5d94;

    /* github colors */
    --git-purple: #6e5494;
    --git-red: #bd2c00;

    --cpp-blue: #044f88;
    --py-yellow: #ffd43b;

    --b-rad: .5rem;
    --g-gap: 1rem;
}

body {
    background-color: var(--light-black) !important;
}

a {
    text-decoration: none;
}

/* DISCLAIMER */

.disclaimer {
    color: #808080;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}

.disclaimer:hover {
    color: #fff;
    transform: scale(0.85);
    cursor: pointer;
}

/* MAIN */

.main {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEAD */

.head {
    color: var(--fux-orange);
    background-color: var(--black);
    border-radius: var(--b-rad);
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

/* FEATURES */

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--g-gap);
    margin: 0 auto;
    text-align: center;
}

.feature-card {
    margin-top: var(--g-gap);
    background-color: var(--black);
    color: #fff;
    border-radius: var(--b-rad);
    padding: 1rem;
}

.feature-card h2 {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.feature-card h3 {
    display: none;
    padding: .5rem;
}

/* CURSOR */

.cursor {
    background-color: var(--black);
    margin-top: var(--g-gap);
    border-radius: var(--b-rad);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* BUTTONS */

.buttons {
    background-color: var(--black);
    margin: 0 auto;
    margin-top: var(--g-gap);
    border-radius: var(--b-rad);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--g-gap);
    padding: 1rem;
}

.buttons a {
    margin: 0 auto;
}

.buttons button {
    border: none;
    border-radius: var(--b-rad);
    color: var(--black);
    font-size: larger;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: all 0.2s ease;
    padding: .3rem;
}

.buttons button:hover {
    background-color: var(--black);
}

.button-discord {
    background-color: var(--blurple);
}

.button-discord:hover {
    color: var(--blurple);
}

.button-github {
    background-color: var(--git-purple);
}

.button-github:hover {
    color: var(--git-purple);
}

.button-docs:hover {
    color: #fff;
}

/* NEWS */

.news {
    background-color: var(--black);
    margin: 0 auto;
    margin-top: var(--g-gap);
    border-radius: var(--b-rad);
    padding: 1.5rem;
    color: #fff;
    text-align: center;
}

.news-top {
    padding: 1rem;
}

.news-info {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.news-info img {
    width: 50%;
    padding: 1rem;
}

.news-info p {
    padding: .5rem;
}

/* COMPARISON */

.comparison {
    margin: 0 auto;
    background-color: var(--black);
    border-radius: var(--b-rad);
    margin-top: var(--g-gap);
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: var(--g-gap);
    color: #fff;
    text-align: center;

}

.compare {
    margin: 0 auto;
    padding: 1rem;
}

.bar {
    width: 30rem;
    height: 1rem;
    background-color: var(--dark-black);
    border-radius: var(--b-rad);
    margin: 0 auto;

    margin-top: 1rem;
    transition: all 0.2s;
}

.fill {
    border-radius: var(--b-rad);
    height: 1rem;
    transition: all 0.2s;
}

.fill-py {
    width: 30rem;
    background-color: var(--py-yellow);
}

.fill-c {
    width: 6.66rem;
    background-color: var(--cpp-blue);
}

.fill-fux {
    width: 3.33rem;
    background-color: var(--fux-orange);
}

.fill-fux-2 {
    width: 1.665rem;
    background-color: var(--fux-red);
}

.fux-c {
    color: var(--fux-red);
}

.fux-p {
    color: var(--fux-orange);
}

/* WORDING */

.wording {
    background-color: var(--black);
    margin: 0 auto;
    margin-top: var(--g-gap);
    text-align: center;
    padding: 1rem;
    color: #fff;
    border-radius: var(--b-rad);
}

.wording p {
    margin: 0 auto;
    max-width: 500px;
}

/* USAGE */

.usage {
    background-color: var(--black);
    margin-top: var(--g-gap);
    border-radius: var(--b-rad);
    text-align: center;
    padding: 1rem;
    color: #fff;
}

.usage h2 {
    padding: 1rem;
}

.company-logos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--g-gap);
    padding: 1rem;
}

.company-logos a {
    transition: all 0.3s;
}

.company-logos a:hover {
    transform: scale(1.1);
}

/* C-STYLE AND P-STYLE DEMO [../style/index.html] */

.demo {
    background-color: var(--black);
    margin: 0 auto;
    margin-top: var(--g-gap);
    border-radius: var(--b-rad);
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.demo-card {
    padding: 1rem;
}

.demo-card h2 {
    padding: .5rem;
}

.demo-cstyle h2 {
    color: var(--fux-red);
}

.demo-pstyle h2 {
    color: var(--fux-orange);
}

.demo-info {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

.demo-info img {
    width: 50%;
    border-radius: var(--b-rad) !important;
}

.demo p {
    margin: 0 auto;
    max-width: 500px;
    padding: .5rem;
}

/* DOCUMENTATION [../docs/index.html] */

.progress {
    background-color: var(--black);
    margin: 0 auto;
    margin-top: var(--g-gap);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.progress h2 {
    padding: .5rem;
}

.fill-docs {
    background-color: var(--fux-orange);
    width: .3rem;
}

.documentation {
    background-color: var(--black);
    border-radius: var(--b-rad);
    margin: 0 auto;
    margin-top: var(--g-gap);
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.documentation h2 {
    padding: 1rem;
    text-align: center;
}

.navigation {
    padding: .5rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    margin: 0 auto;
    gap: var(--g-gap)
}

.nav-item {
    background-color: var(--fux-orange);
    border-radius: var(--g-gap);
    color: var(--dark-black);
    transition: all 0.2s;
    padding: .1rem;
}

.nav-item:hover {
    background-color: transparent;
    color: var(--fux-orange);
}

.docs-widget {
    margin: 0 auto;
    margin-top: var(--g-gap);
    background-color: var(--black);
    border-radius: var(--b-rad);
    padding: 1.5rem;
    color: #fff;
    text-align: center;
}

.docs-widget h3 {
    padding: 1rem;
}

.docs-widget-info img {
    border-radius: var(--b-rad);
    width: 80%;
}

/* MAIN END -> FOOTER */

.footer {
    margin-top: calc(var(--g-gap)*2);
    background-color: var(--dark-black);
    border-top-left-radius: var(--b-rad);
    border-top-right-radius: var(--b-rad);
    color: #fff;
    text-align: center;
}

.logo-brand {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    padding: 2rem;
    transition: all 0.3s;
}

.logo-brand h1 {
    padding: 1rem;
}

.footer .disclaimer {
    padding: 2rem;
    transition: all 0.2s;
}

/* WEB END -> RESPONSIVE CODE */

@media screen and (max-width: 700px) {

    .features {
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        gap: 0;
    }

}

@media screen and (max-width: 600px) {

    .bar {width: 20rem}
    .fill-py {width: 20rem}
    .fill-c {width: 4.44rem}
    .fill-fux {width: 2.22rem}
    .fill-fux-2 {width: 0.8825rem}

    .fill-docs {width: 0.15rem}
    
}

@media screen and (max-width: 550px) {

    .buttons {grid-template-columns: none}
    .news-info img {display: none}
    .company-logos {grid-template-columns: none}

    .demo-info {display: block}
    .demo-info img {width: 70%}

}

@media screen and (max-width: 450px) {

    .bar {width: 10rem}
    .fill-py {width: 10rem}
    .fill-c {width: 2.22rem}
    .fill-fux {width: 1.11rem}
    .fill-fux-2 {
        width: 0.44125rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .percent {display: none !important}

    .fill-docs {width: .075rem}
    .navigation {grid-template-columns: auto auto}
    .nav-item {padding: .25rem}
    
}

@media screen and (max-width: 350px) {

    .feature-card h2 {display: none}
    .feature-card h3 {display: contents}
    .logo-brand  {
        transform: scale(0.75);
        padding: 1rem;
    }
    .footer .disclaimer {padding: 1rem}

    .demo-info img {width: 100%}

    .navigation {grid-template-columns: auto}

}